.createContainer {
	padding: 0.25rem 0.5rem;
	position: relative;
	display: flex;
	place-content: center;

	button {
		all: unset;
		height: 2rem;
		padding-left: 0.5rem;
		padding-right: 1rem;
		display: flex;
		width: 100%;
		cursor: pointer;
		justify-content: flex-start;
		align-items: center;
		border-radius: 1rem;

		&:hover {
			background-color: var(--addTask-background-hover);
		}

		&>.logo-container {
			margin-right: 1rem;
			padding: 4px;

			&>span {
				display: block;
				color: var(--addTask-color);
				font-size: 1.25rem;
			}
		}

		&>.label {
			color: var(--addTask-color);
			font-weight: 600;
			font-size: 1.05rem;
			letter-spacing: 0;
			display: inline-flex;
		}
	}
}
