@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--taskList-background: #131314;
	--tasks-on-background: #e3e3e3;
	--task-not-active: 'transparent';
	--task-active: #232428;
	--addTask-background-hover: #1f2226;
	--addTask-color: #a0bded;
	--taskIcon-background-hover: #3f4040;
	--editButton-background: #9bbbef;
	--editButton-color: #062e6f;
	--DatePicker-background: #282a2c;
	--DatePicker-selected-background: #a8c7fa;
	--DatePicker-today-background: #4988ba;
	--Date-border-color: #5f6368;
	--Date-color-present: #8ab4f8;
	--Date-color-future: #c4c7c5;
	--Date-color-past: #f2b8b5;
	--Time-background-color: #333537;
	--App-background-1: #1b1b1b;
	--Time-hover-background: #414345;
	--start-day: 1;
}

.roboto-medium {
	font-family: 'Roboto';
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.roboto-semimedium {
	font-family: 'Roboto';
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.material-symbols-outlined {
	font-size: 1.6rem;
	color: white;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

#app {
	background-color: var(--App-background-1);
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#TopBar {
	height: 64px;
	flex-shrink: 0;
	padding: 8px;
}

.appHeader {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	height: 100%;
	justify-content: start;
	align-items: center;
}

.sideBarToggle {
	&>button {
		all: unset;
		cursor: pointer;
		margin: 0 4px;
		padding: 12px;
		display: grid;
		justify-content: center;
		align-items: center;
		border-radius: 1000px;

		span {
			font-size: 24px;
		}
	}

	&>button:hover {
		background-color: #2b2b2b;
	}
}

.appTitle {
	h1 {
		font-size: 1.5rem;
		line-height: 1.4rem;
		cursor: default;
	}
}

#MainSection {
	margin: 0;
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	overflow-y: auto;
}

.sideBarSection {
	width: 256px;
	max-width: 300px;
	position: relative;
	height: 100%;
	flex-shrink: 0;
}

.scrollingBorderColor {
	border-right: 1px solid #444746;
}

.listAreaSection {
	position: relative;
	flex-grow: 1;
	overflow-x: hidden;

	.listAreaContainer {
		display: flex;
		flex-flow: row nowrap;
		padding: 0 4px 8px 12px;
		height: 100%;
		overflow-x: scroll;
		scroll-behavior: smooth;
	}
}

.dialogBoxContainer {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(2px);
	display: flex;
	justify-content: center;
	align-items: center;
}
