.confirmationBtns {
	display: flex;
	justify-content: flex-end;
	padding: 0 1.5rem;
	padding-bottom: 1.25rem;
	gap: 0.5rem;

	* {
		all: unset;
		height: 40px;
		margin: 0.25rem 0;
		border-radius: 2rem;
		cursor: pointer;
		font-weight: 600;
	}

	/* Cancel Button*/
	&>button:nth-of-type(1) {
		padding: 0 0.75rem;
		color: var(--editButton-background);

		&:hover {
			background-color: rgba(168, 199, 250, 0.1);
		}
	}

	&>button:nth-of-type(2) {
		padding: 0 1.5rem;
		background-color: var(--DatePicker-selected-background);
		color: var(--editButton-color);

		&:hover {
			background-color: var(--editButton-background);
		}
	}
}
