.taskNameContainer {
	text-align: start;
	width: 100%;
	line-height: 1.25rem;
	font-size: 1.2rem;
	min-height: 30px;

	&>div.complete {
		span {
			text-decoration: line-through;
		}

		min-height: inherit;
	}

	&>div.taskName {
		width: 100%;
		min-height: inherit;
		overflow-wrap: anywhere;
		align-self: center;

		&>textarea {
			all: unset;
			min-height: inherit;
			display: block;
			width: 100%;
		}

		&>span {
			min-height: inherit;
			display: block;
			cursor: default;
			height: 100%;
		}
	}
}
