.tasks {
	width: 320px;
	background-color: var(--task-not-active);
	padding: 5px 5px;
	margin-bottom: 2px;

	&:hover {
		background-color: var(--task-active);
	}

	&>div.taskContainer {
		display: flex;
		gap: 4px;

		&>div.taskIcon {
			padding: 4px;

			button {
				all: unset;
				display: block;
				padding: 2px;
				border-radius: 100%;

				&:hover {
					background-color: var(--taskIcon-background-hover);
				}

				span {
					display: block;
					cursor: pointer;
				}
			}
		}

		&>div.taskNameContainer {
			flex-grow: 1;
			min-width: 0;
			text-align: start;
			font-size: 1.2rem;
			width: 100%;

			&>div.complete {
				span {
					text-decoration: line-through;
				}
			}

			&>div.taskName {
				width: 100%;
				height: 100%;
				overflow-wrap: anywhere;
				align-self: center;
				padding: 2px 0;

				&>textarea {
					all: unset;
					display: block;
					width: 100%;
					overflow-wrap: anywhere;
					height: 100%;
					resize: none;
				}

				&>span {
					display: block;
					cursor: default;
					height: 100%;
				}
			}
		}

		&>div.deleteContainer {
			padding: 2px;
			align-self: start;

			&>div.delete {
				&>button {
					all: unset;
					padding: 4px;
					border-radius: 100%;
					cursor: pointer;

					&:hover {
						background-color: var(--taskIcon-background-hover);
					}

					&>span {
						display: block;
					}
				}
			}
		}
	}
}

.task-active {
	background-color: var(--task-active);
}
