.tasks {
	width: 320px;
	background-color: var(--task-not-active);
	padding: 5px 5px;
	margin-bottom: 2px;

	&:hover {
		background-color: var(--task-active);
	}

	&:focus-within {
		background-color: var(--task-active);
	}

	&>div.taskContainer {
		display: flex;
		gap: 4px;

		&>div.taskIcon {
			padding: 4px;

			button {
				all: unset;
				display: block;
				padding: 2px;
				border-radius: 100%;

				&:hover {
					background-color: var(--taskIcon-background-hover);
				}

				span {
					display: block;
					cursor: pointer;
				}
			}
		}

		&>div.taskData {
			flex-grow: 1;

			&>* {
				margin-top: 0.2rem;
			}

			.taskNameContainer {
				margin-top: 0;
			}

			&>.editButtonContainer {
				display: flex;
				justify-content: flex-end;
				padding: 2px;

				&>button.editButton {
					all: unset;
					font-size: 1rem;
					padding: 0.5rem 1.5rem;
					border-radius: 10px;
					background-color: var(--editButton-background);
					color: var(--editButton-color);
				}
			}
		}

		&>div.deleteContainer {
			padding: 2px;
			align-self: start;

			&>div.delete {
				&>button {
					all: unset;
					padding: 4px;
					border-radius: 100%;
					cursor: pointer;

					&:hover {
						background-color: var(--taskIcon-background-hover);
					}

					&>span {
						display: block;
					}
				}
			}
		}
	}
}

.subTask {
	padding-left: 2rem;
}
