.taskDropDown {
    position: relative;
    display: block;
}

.dropdown-button-container {
    display: block;
}

.dropdown-button {
    all: unset;
    cursor: pointer;
    display: flex;
    place-content: center;
    border-radius: 2rem;
    padding: 0.2rem;

    &:hover {
        background-color: #3f4040;

        & > span {
            color: white;
        }
    }

    & > span {
        display: block;
        width: 100%;
        aspect-ratio: 1;
        font-size: 1.3rem;
        color: #9aa0a6;
    }
}

.dropdown-menu-container {
    z-index: 5;
    font-weight: 600;
    position: absolute;
    right: 0;
    width: 250px;
    border-radius: 0.5rem;
    background-color: #36373a;
    overflow: hidden;

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding: 8px 0;
    }

    .dropdown-label {
        color: #c4c7c5;
        font-weight: 600;
        font-size: 13px;
        padding: 0 16px;
        line-height: 1.5rem;
    }
}
