.taskNameContainer {
	text-align: start;
	width: 100%;
	line-height: 1.25rem;
	font-size: 1rem;
	min-height: 30px;

	&>div.complete {
		span {
			text-decoration: line-through;
		}

		min-height: inherit;
	}

	&>div.taskName {
		width: 100%;
		min-height: inherit;
		overflow-wrap: anywhere;
		align-self: center;
		display: flex;
		align-items: center;

		&>textarea {
			all: unset;
			display: block;
			width: 100%;
		}

		&>span {
			display: block;
			cursor: default;
		}
	}
}
